* {
     margin: 0;
     padding: 0;
     font-family: "JetBrains Mono", monospace;
    }

html {
    background-color: #f5f5f5;
    }

body {
    background-color: #f5f5f5;
    }

main {
    margin: 0 auto;
    max-width: 650px;
    padding: 3rem 0;
    }

header {
    padding: 2rem 0 4rem 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    }

header .site-title {
    font-size: 4rem;
    font-weight: bolder;
    line-height: 110%
    }

h2 {
    font-size: 22.4px;
    font-style: italic;
    font-weight: 100
    }

a:link {
  text-decoration: none;
    }

#bio {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    }


.avatar {
    width: 120px;
    height: auto;
    border-radius: 50%;
    object-fit: fill
    }

.icon {
    width: 25px;
    height: auto;
    border-radius: 50%;
    object-fit: fill
    }

div {
    display: block;
    unicode-bidi: isolate;
    padding: 11px
    }

div .social-wrapper {
    padding: 50px 50px 50px 50px
    }

section {
    display: block;
    unicode-bidi: isolate;
    }

section.articles {
    margin: 64px 0px 48px}

article {
    display: block;
    unicode-bidi: isolate;
    padding: 30px;
    background-color: #e8e8e8;
    border-radius: 15px
    }

.articles {
    display: grid;
    row-gap: 2rem;
    margin: 4rem 0 3rem 0;
    }

small {
    font-size: smaller
    }

a.category {
    color: white;
    font-size: 13px;
    background-color: black;
    border-radius: 15px;
    padding: 5px;
    }
